---
title: Content Publisher Blog!
---

<h1>
  Content Publisher Blog!
</h1>

<h2>Recent Posts</h2>


<% config[:content].each do |blog| %>
  <div class="post">
    <h3><%= link_to blog["title"], blog["base_path"] %></h3>
    <p><%= blog["summary"] %></p>
  </div>
<% end %>

